﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AttachDocument.aspx.cs" Inherits="EDMs.Web.Controls.Document.AttachDocument" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        div.RadGrid .rgPager .rgAdvPart {
            display: none;
        }

        div.rgDataDiv {
            overflow: hidden !important;
        }

        .DropZone1 {
            width: 300px;
            height: 250px;
            padding-left: 230px;
            background: #fff url(../../Images/placeholder-add.png) no-repeat center center;
            background-color: #357A2B;
            border-color: #CCCCCC;
            color: #767676;
            float: left;
            text-align: center;
            font-size: 16px;
            color: white;
            position: relative;
        }
    </style>

    <script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>

    <script type="text/javascript">
        function CloseAndRebind(args) {
            GetRadWindow().BrowserWindow.refreshGrid(args);
            GetRadWindow().close();
        }

        function GetRadWindow() {
            var oWindow = null;
            if (window.radWindow) { oWindow = window.radWindow; }//Will work in Moz in all cases, including clasic dialog
            else if (window.frameElement.radWindow) oWindow = window.frameElement.radWindow; //IE (and Moz as well)
            {
                return oWindow;
            }
        }

        function CancelEdit() {
            GetRadWindow().close();
        }


    </script>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager2" runat="server"></telerik:RadScriptManager>
        <telerik:RadAjaxLoadingPanel runat="server" ID="RadAjaxLoadingPanel2" />
        <asp:Panel ID="pnContent" runat="server">
            <asp:Panel ID="pnUpload" runat="server">
                <div style="width: 100%">
                    <ul style="list-style-type: none">
                        <li style="width: 100%;" runat="server" id="UploadControl">
                            <div>
                                <label style="width: 110px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                                    <span style="color: #2E5689; text-align: right;">Upload multiple file
                                    </span>
                                </label>
                                <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                                    <telerik:RadAsyncUpload runat="server" ID="docuploader"
                                        MultipleFileSelection="Automatic" TemporaryFileExpiration="05:00:00"
                                        EnableInlineProgress="true" Width="350px"
                                        Localization-Cancel="Cancel" CssClass="min25Percent qlcbFormRequired"
                                        Localization-Remove="Remove" Localization-Select="Select" Skin="Windows7">
                                    </telerik:RadAsyncUpload>

                                    <%--<telerik:RadAsyncUpload runat="server" ID="RadAsyncUpload1"
                                MultipleFileSelection="Automatic" TemporaryFileExpiration="05:00:00" 
                                EnableInlineProgress="true" Width="250px"
                                Localization-Cancel="Cancel" CssClass="min25Percent qlcbFormRequired"
                                Localization-Remove="Remove" Localization-Select="Select"  Skin="Windows7" DropZones=".DropZone1"
                                FileFilters="*.doc,*.docx,*.xls,*.xlsx,*.pdf">
                            </telerik:RadAsyncUpload>--%>
                                </div>
                            </div>
                            <div style="clear: both; font-size: 0;"></div>
                        </li>
                        <li style="width: 100%; text-align: center">
                            <telerik:RadButton ID="btnSave" runat="server" Text="Save" OnClick="btnSave_Click" Width="70px" Style="text-align: center">
                                <Icon PrimaryIconUrl="../../Images/save.png" PrimaryIconLeft="4" PrimaryIconTop="4" PrimaryIconWidth="16" PrimaryIconHeight="16"></Icon>
                            </telerik:RadButton>
                        </li>
                    </ul>
                </div>
            </asp:Panel>
            <telerik:RadGrid ID="grdDocument" runat="server" AllowPaging="True"
                AutoGenerateColumns="False" CellPadding="0" CellSpacing="0"
                GridLines="None" Skin="Windows7" Height="250"
                OnDeleteCommand="grdDocument_DeleteCommand"
                OnNeedDataSource="grdDocument_OnNeedDataSource"
                OnItemDataBound="grdDocument_ItemDataBound"
                PageSize="10" Style="outline: none; overflow: hidden !important;">
                <MasterTableView ClientDataKeyNames="ID" DataKeyNames="ID" Width="100%">
                    <PagerStyle AlwaysVisible="True" FirstPageToolTip="First page" LastPageToolTip="Last page" NextPagesToolTip="Next page" NextPageToolTip="Next page" PagerTextFormat="Change page: {4} &amp;nbsp;Page &lt;strong&gt;{0}&lt;/strong&gt; / &lt;strong&gt;{1}&lt;/strong&gt;, Total:  &lt;strong&gt;{5}&lt;/strong&gt; Documents." PageSizeLabelText="Row/page: " PrevPagesToolTip="Previous page" PrevPageToolTip="Previous page" />
                    <HeaderStyle Font-Bold="True" HorizontalAlign="Center" VerticalAlign="Middle" />
                    <Columns>

                        <telerik:GridBoundColumn DataField="ID" UniqueName="ID" Visible="False" />
                        <telerik:GridBoundColumn DataField="Extension" UniqueName="Extension" Display="false"></telerik:GridBoundColumn>
                        <telerik:GridBoundColumn DataField="CreatedBy" UniqueName="CreatedBy" Display="false"></telerik:GridBoundColumn>
                        <telerik:GridButtonColumn UniqueName="DeleteColumn" CommandName="Delete" ConfirmText="Do you want to delete document file?" ButtonType="ImageButton" ImageUrl="~/Images/delete.png">
                            <HeaderStyle Width="5%" />
                            <ItemStyle HorizontalAlign="Center" Width="5%" />
                        </telerik:GridButtonColumn>

                        <telerik:GridTemplateColumn AllowFiltering="false" UniqueName="DownloadColumn">
                            <HeaderStyle Width="5%" />
                            <ItemStyle HorizontalAlign="Center" Width="5%" />
                            <ItemTemplate>
                                <a href='<%# DataBinder.Eval(Container.DataItem, "FilePath") %>'
                                    download='<%# DataBinder.Eval(Container.DataItem, "FileName") %>' target="_blank">
                                    <asp:Image ID="Image1" runat="server" ImageUrl='<%# DataBinder.Eval(Container.DataItem, "ExtensionIcon") %>'
                                        Style="cursor: pointer;" ToolTip="Download document" />
                                </a>
                            </ItemTemplate>
                        </telerik:GridTemplateColumn>
                        <telerik:GridTemplateColumn AllowFiltering="False" UniqueName="Viewfile">
                            <HeaderStyle Width="30" />
                            <ItemStyle HorizontalAlign="Center" />
                            <ItemTemplate>
                                <div runat="server" id="ViewFilePDF">
                                    <a href='javascript:ShowViewerFile(<%# DataBinder.Eval(Container.DataItem, "ID") %>)' style="text-decoration: none; color: blue">
                                        <asp:Image ID="CallLink2" runat="server" ImageUrl="~/Images/expview.png"
                                            Style="cursor: pointer; border-color: transparent" AlternateText="Viewer File PDF" />
                                        <a />
                                </div>
                            </ItemTemplate>
                        </telerik:GridTemplateColumn>
                        <telerik:GridBoundColumn DataField="FileName" HeaderText="File name" UniqueName="FileName">
                            <HeaderStyle HorizontalAlign="Center" Width="40%" />
                            <ItemStyle HorizontalAlign="Left" Width="40%" />
                        </telerik:GridBoundColumn>

                        <telerik:GridBoundColumn DataField="CreatedByUser" HeaderText="Upload by" UniqueName="CreatedByUser">
                            <HeaderStyle HorizontalAlign="Center" Width="20%" />
                            <ItemStyle HorizontalAlign="Left" Width="20%" />
                        </telerik:GridBoundColumn>

                        <telerik:GridBoundColumn DataField="CreatedDate" HeaderText="Upload time" UniqueName="CreatedDate"
                            DataFormatString="{0:dd/MM/yyyy hh:mm tt}">
                            <HeaderStyle HorizontalAlign="Center" Width="20%" />
                            <ItemStyle HorizontalAlign="Left" Width="20%" />
                        </telerik:GridBoundColumn>

                        <telerik:GridBoundColumn DataField="FileSize" HeaderText="File size(Kb)" UniqueName="FileSize" DataFormatString="{0:0,0.00}">
                            <HeaderStyle HorizontalAlign="Center" Width="13%" />
                            <ItemStyle HorizontalAlign="Left" Width="13%" />
                        </telerik:GridBoundColumn>
                    </Columns>
                </MasterTableView>
                <ClientSettings Selecting-AllowRowSelect="true" AllowColumnHide="True">
                    <Resizing EnableRealTimeResize="True" ResizeGridOnColumnResize="True" ClipCellContentOnResize="false"></Resizing>
                    <Scrolling AllowScroll="True" SaveScrollPosition="True" ScrollHeight="200" UseStaticHeaders="True" />
                </ClientSettings>
            </telerik:RadGrid>
        </asp:Panel>

        <%--<div style="width: 100%; text-align: center; padding-top: 270px">
           
        </div>--%>
        <asp:HiddenField runat="server" ID="docUploadedIsExist" />
        <asp:HiddenField runat="server" ID="docIdUpdateUnIsLeaf" />
        <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" Width="100%" Height="100px">
            <asp:Image ID="Image1" runat="server" Width="160px" Height="20px" ImageUrl="~/Images/loading1.gif"></asp:Image>
        </telerik:RadAjaxLoadingPanel>

        <telerik:RadAjaxManager runat="Server" ID="ajaxDocument" OnAjaxRequest="ajaxDocument_AjaxRequest">
            <AjaxSettings>
                <telerik:AjaxSetting AjaxControlID="btnSave">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="pnContent" LoadingPanelID="RadAjaxLoadingPanel1" />
                        <telerik:AjaxUpdatedControl ControlID="grdDocument" />
                        <telerik:AjaxUpdatedControl ControlID="docuploader"  />
                    </UpdatedControls>
                </telerik:AjaxSetting>

                <telerik:AjaxSetting AjaxControlID="grdDocument">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="grdDocument" LoadingPanelID="RadAjaxLoadingPanel2"></telerik:AjaxUpdatedControl>
                    </UpdatedControls>
                </telerik:AjaxSetting>

                <telerik:AjaxSetting AjaxControlID="ajaxDocument">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="grdDocument" LoadingPanelID="RadAjaxLoadingPanel2"></telerik:AjaxUpdatedControl>
                    </UpdatedControls>
                </telerik:AjaxSetting>
            </AjaxSettings>
        </telerik:RadAjaxManager>
        <telerik:RadWindowManager ID="RadWindowManager1" runat="server" EnableShadow="true">
            <Windows>
                <telerik:RadWindow ID="ViewerFile" runat="server" Title="Viewer File"
                    VisibleStatusbar="false" Height="600" Width="1250" MinHeight="600" MinWidth="1250" MaxHeight="600" MaxWidth="1250"
                    Left="50px" ReloadOnShow="true" ShowContentDuringLoad="false" Modal="true">
                </telerik:RadWindow>
            </Windows>
        </telerik:RadWindowManager>
        <telerik:RadScriptBlock runat="server">
            <script type="text/javascript">
                var ajaxManager;

                function fileUploading(sender, args) {
                    var name = args.get_fileName();
                    document.getElementById("txtName").value = name;

                    ajaxManager.ajaxRequest("CheckFileName$" + name);
                }

                function MyClick(sender, eventArgs) {
                    var inputs = document.getElementById("<%= grdDocument.MasterTableView.ClientID %>").getElementsByTagName("input");
                    for (var i = 0, l = inputs.length; i < l; i++) {
                        var input = inputs[i];
                        if (input.type != "radio" || input == sender)
                            continue;
                        input.checked = false;
                    }
                }
                function ShowViewerFile(Id) {

                    // if (path.toLowerCase().search(".pdf")) {
                   <%-- var owd = $find("<%= ViewerFile.ClientID %>");
                     owd.Show();
                     owd.moveTo(120, 20);
                     owd.setSize(1200, window.availHeight);
                     owd.setUrl("../../ViewerFilePDF.aspx?DocId=" + Id+"&File=1", "ViewerFile");--%>
                          //}
                          var win = window.open("../../ViewerFilePDF.aspx?DocId=" + Id + "&File=1", '_blank');
                          if (win) {
                              //Browser has allowed it to be opened
                              win.focus();
                          } else {
                              //Browser has blocked it
                              alert('Please allow popups for this website');
                          }

                      }
                      function SelectMeOnly(objRadioButton, grdName) {

                          var i, obj;
                          for (i = 0; i < document.all.length; i++) {
                              obj = document.all(i);

                              if (obj.type == "radio") {

                                  if (objRadioButton.id.substr(0, grdName.length) == grdName)
                                      if (objRadioButton.id == obj.id)
                                          obj.checked = true;
                                      else
                                          obj.checked = false;
                              }
                          }
                      }
            </script>

        </telerik:RadScriptBlock>
    </form>
</body>
</html>
