﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OutTransmittalEditForm.aspx.cs" Inherits="EDMs.Web.Controls.Document.OutTransmittalEditForm" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        html, body, form {
            overflow: auto;
        }

        .RadComboBoxDropDown_Default .rcbHovered {
            background-color: #46A3D3;
            color: #fff;
        }

        .RadComboBoxDropDown .rcbItem, .RadComboBoxDropDown .rcbHovered, .RadComboBoxDropDown .rcbDisabled, .RadComboBoxDropDown .rcbLoading, .RadComboBoxDropDown .rcbCheckAllItems, .RadComboBoxDropDown .rcbCheckAllItemsHovered {
            margin: 0 0px;
        }

        .RadComboBox .rcbInputCell .rcbInput {
            border-left-color: #46A3D3 !important;
            border-color: #8E8E8E #B8B8B8 #B8B8B8 #46A3D3;
            border-style: solid;
            border-width: 1px 1px 1px 5px;
            color: #000000;
            float: left;
            font: 12px "segoe ui";
            margin: 0;
            padding: 2px 5px 3px;
            vertical-align: middle;
            width: 283px;
        }

        .RadComboBox table td.rcbInputCell, .RadComboBox .rcbInputCell .rcbInput {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        div.rgEditForm label {
            float: right;
            text-align: right;
            width: 72px;
        }

        .rgEditForm {
            text-align: right;
        }
        /*.RadComboBox {
               width: 115px !important;
               border-bottom: none !important;
           }*/
        .RadUpload .ruFileWrap {
            overflow: visible !important;
        }

        /*#grdContactHistory
        {
            height: 300px !important;
        }

        #grdContactHistory_GridData
        {
            height: 250px !important;
        }*/
    </style>

    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>

    <script type="text/javascript">
        function CloseAndRebind(args) {
            GetRadWindow().BrowserWindow.refreshGrid(args);
            GetRadWindow().close();
        }

        function GetRadWindow() {
            var oWindow = null;
            if (window.radWindow) oWindow = window.radWindow; //Will work in Moz in all cases, including clasic dialog
            else if (window.frameElement.radWindow) oWindow = window.frameElement.radWindow; //IE (and Moz as well)

            return oWindow;
        }

        function CancelEdit() {
            GetRadWindow().close();
        }


    </script>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager2" runat="server"></telerik:RadScriptManager>
        <telerik:RadAjaxLoadingPanel runat="server" ID="RadAjaxLoadingPanel2" />

        <div style="width: 100%">
            <ul style="list-style-type: none">
                <div class="qlcbFormItem">
                    <div class="dnnFormMessage dnnFormInfo">
                        <div class="dnnFormItem dnnFormHelp dnnClear">
                            <p class="dnnFormRequired" style="float: left;">
                                <span style="text-decoration: underline;">Notes</span>: All fields marked with a red are required.
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div style="width: 100%;" runat="server" id="divContent">
            <ul style="list-style-type: none">

                <li style="width: 100%;" runat="server" id="UploadControl">
                    <div>
                        <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right;">Upload transmittal file
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <telerik:RadAsyncUpload runat="server" ID="docuploader"
                                MultipleFileSelection="Automatic" TemporaryFileExpiration="05:00:00"
                                EnableInlineProgress="true" Width="250px"
                                Localization-Cancel="Cancel" CssClass="min25Percent qlcbFormRequired"
                                Localization-Remove="Remove" Localization-Select="Select" Skin="Windows7">
                            </telerik:RadAsyncUpload>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>
                <li style="width: 500px;">
                    <div>
                        <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem" runat="server" id="div1">
                            <asp:RadioButton ID="rbNormal" Text="Normal" runat="server" />
                            <asp:RadioButton ID="rbICA" Text="ICA" runat="server" />
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>
                <li style="width: 500px;">
                    <div>
                        <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right;">Trans No.
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem" runat="server" id="divFileName">
                            <asp:TextBox ID="txtTransmittalNumber" runat="server" Style="width: 300px;" CssClass="min25Percent qlcbFormRequired" />

                            <asp:CustomValidator runat="server" ID="fileNameValidator" ValidateEmptyText="True" CssClass="dnnFormMessage dnnFormErrorModule"
                                OnServerValidate="ServerValidationFileNameIsExist" Display="Dynamic" ControlToValidate="txtTransmittalNumber" />
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>

                <li style="width: 500px;">
                    <div>
                        <label style="width: 125px; float: left; padding-top: 3px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right;">Issue Date
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <telerik:RadDatePicker ID="txtDate" runat="server" CssClass="qlcbFormNonRequired">
                                <DateInput runat="server" DateFormat="dd/MM/yyyy" CssClass="qlcbFormNonRequired" />
                            </telerik:RadDatePicker>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>

                <asp:Panel ID="Panel1" runat="server">
                    <li style="width: 500px;">
                        <div>
                            <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                                <span style="color: #2E5689; text-align: right;">Project
                                </span>
                            </label>
                            <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                                <telerik:RadComboBox ID="ddlProject" runat="server" CssClass="min25Percent" Width="316px" Skin="Windows7" MarkFirstMatch="true" AutoPostBack="true" AllowCustomText="true" />
                            </div>
                        </div>
                        <div style="clear: both; font-size: 0;"></div>
                    </li>

                    <li style="width: 500px;">
                        <div>
                            <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                                <span style="color: #2E5689; text-align: right;">To Contractor
                                </span>
                            </label>
                            <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                                <asp:DropDownList ID="ddlContractor" runat="server" CssClass="min25Percent" Width="316px"
                                    OnSelectedIndexChanged="ddlContractor_OnSelectedIndexChanged" AutoPostBack="True" />
                            </div>
                        </div>
                        <div style="clear: both; font-size: 0;"></div>
                    </li>

                    <li style="width: 500px; display: none">
                        <div>
                            <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                                <span style="color: #2E5689; text-align: right;">Reply For Trans
                                </span>
                            </label>
                            <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                                <asp:DropDownList ID="ddlReplyForTrans" runat="server" CssClass="min25Percent" Width="316px" />
                            </div>
                        </div>
                        <div style="clear: both; font-size: 0;"></div>
                    </li>

                    <li style="width: 500px;">
                        <div>
                            <label style="width: 125px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                                <span style="color: #2E5689; text-align: right;">Reason
                                </span>
                            </label>
                            <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                                <asp:DropDownList ID="ddlReason" runat="server" CssClass="min25Percent" Width="316px">
                                    <asp:ListItem Text="" Value="0" />
                                    <asp:ListItem Text="Information" Value="Information" />
                                    <asp:ListItem Text="Execution" Value="Execution" />
                                    <asp:ListItem Text="Compiling" Value="Compiling" />
                                    <asp:ListItem Text="Archives" Value="Archives" />
                                    <asp:ListItem Text="Review and Comment" Value="Review and Comment" />
                                    <asp:ListItem Text="Approval" Value="Approval" />
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div style="clear: both; font-size: 0;"></div>
                    </li>
                </asp:Panel>

                <li style="width: 500px;">
                    <div>
                        <label style="width: 125px; height: 50px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right;">From
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:DropDownList ID="ddlGroupFrom" runat="server" OnSelectedIndexChanged="ddlGroupFrom_SelectedIndexChanged" CssClass="min25Percent" Width="316px" AutoPostBack="true" />
                        </div>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:DropDownList ID="ddlFromList" runat="server" CssClass="min25Percent" Width="316px" />
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>

                <li style="width: 500px;">
                    <div>
                        <label style="width: 125px; float: left; height: 50px; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right;">To
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:DropDownList ID="ddlGroupTo" runat="server" OnSelectedIndexChanged="ddlGroupTo_SelectedIndexChanged" CssClass="min25Percent" Width="316px" AutoPostBack="true" />
                        </div>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:DropDownList ID="ddlToList" runat="server" CssClass="min25Percent" Width="316px" />
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>

                <div class="qlcbFormItem" runat="server" id="CreatedInfo" visible="False">
                    <div class="dnnFormMessage dnnFormInfo">
                        <div class="dnnFormItem dnnFormHelp dnnClear">
                            <p class="dnnFormRequired" style="float: left;">
                                <asp:Label ID="lblCreated" runat="server"></asp:Label>
                                <asp:Label ID="lblUpdated" runat="server"></asp:Label>
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div style="width: 100%">
            <ul style="list-style-type: none">
                <li style="width: 500px; padding-top: 10px; padding-bottom: 3px; text-align: center">
                    <telerik:RadButton ID="btnSave" runat="server" Text="Save" OnClick="btnSave_Click" Width="70px" Style="text-align: center">
                        <Icon PrimaryIconUrl="../../Images/save.png" PrimaryIconLeft="4" PrimaryIconTop="4" PrimaryIconWidth="16" PrimaryIconHeight="16"></Icon>
                    </telerik:RadButton>
                    <%--<telerik:RadButton ID="btncancel" runat="server" Text="Cancel" Width="70px" style="text-align: center"
                        OnClick="btncancel_Click">
                        <Icon PrimaryIconUrl="../../Images/Cancel.png" PrimaryIconLeft="4" PrimaryIconTop="4" PrimaryIconWidth="16" PrimaryIconHeight="16"></Icon>
                    </telerik:RadButton>--%>

                </li>
            </ul>
        </div>
        <asp:HiddenField runat="server" ID="docUploadedIsExist" />
        <asp:HiddenField runat="server" ID="docIdUpdateUnIsLeaf" />

        <telerik:RadAjaxManager runat="Server" ID="ajaxDocument">
            <AjaxSettings>
                <telerik:AjaxSetting AjaxControlID="ajaxDocument">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="divContent" LoadingPanelID="RadAjaxLoadingPanel2"></telerik:AjaxUpdatedControl>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                <telerik:AjaxSetting AjaxControlID="ddlContractor">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlReplyForTrans" LoadingPanelID="RadAjaxLoadingPanel2"></telerik:AjaxUpdatedControl>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                <telerik:AjaxSetting AjaxControlID="ddlGroupFrom">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlFromList" LoadingPanelID="RadAjaxLoadingPanel2"></telerik:AjaxUpdatedControl>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                <telerik:AjaxSetting AjaxControlID="ddlGroupTo">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlToList" LoadingPanelID="RadAjaxLoadingPanel2"></telerik:AjaxUpdatedControl>
                    </UpdatedControls>
                </telerik:AjaxSetting>
            </AjaxSettings>
        </telerik:RadAjaxManager>

        <telerik:RadScriptBlock runat="server">
            <script type="text/javascript">
                var ajaxManager;

                function pageLoad() {
                    ajaxManager = $find("<%=ajaxDocument.ClientID %>");
                }

                function ValidateForm() {
                    var name = document.getElementById("<%= txtTransmittalNumber.ClientID%>");
                    if (name.value.trim() == "") {
                        alert("Please enter Record No.");
                        name.focus();
                        return false;
                    }
                }



            </script>
        </telerik:RadScriptBlock>
    </form>
</body>
</html>
